body {
  background-color: #E6E6E6;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px;
}
.banner {
  background-color: #F6DEB8;
  height: 160px;
  margin-top: -20px;
}
.sidebar {
  background-color: #8CBC93;
  padding-left: 35px;
  min-height: 680px;
  overflow: hidden;
}
.content {
  padding-top: 20px;
  padding-left: 60px;
}
.sidebar h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #EDD7AE;
}
.content ol li {
  padding-bottom: 5px;
}
#result {
  margin-left: -25px;
}
#left {
  float: left;
  height: 100%;
}
#right {
  float: right;
  height: 100%;
}
